body::before {
  display: block;
  content: "";
  height: 60px;
}

div#navmenu .nav-link {
  color: 333;
  font-size: 1.1rem;
  font-weight: 500;
}

div#navmenu .nav-link:hover {
  color: #ffc107;
}

#google-map {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

@media (max-width: 768px) {
  iframe#google-map {
    display: none;
  }
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
